
body {
    padding-top: 50px;
}

.navbar.navbar-fixed-top {
    padding-top: 7px;
}
h4 {
    text-align: left;
}

.panel-heading{

}

.about{
	height: 30px;
    width: 30px;
}

img{
    height: 100px;
    width: 100px;
    float: left;
}
button{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.comprar{
	position: fixed;

}

/*
a:link {
    text-decoration: none;
    color: black;
}

a.nounderline:link{
    text-decoration: none;
    color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}*/