
body {
    padding-top: 50px;
}

.navbar.navbar-fixed-top {
    padding-top: 7px;
}
h4 {
    text-align: left;
}

.panel-heading{

}

a:link {
    text-decoration: none;
    color: black;
}

a.nounderline:link{
    text-decoration: none;
    color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}