/*#tblPalavras {
	position:absolute;
}*/
#imaginary_container{
    /*margin-top:0%;  Don't copy this */
    float: left;
    margin-top: 2px;
    position: absolute;
    margin: 0 !important;
    padding: 0!important;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}