
body {
    padding-top: 50px;
}

.navbar.navbar-fixed-top {
    padding-top: 7px;
}
h4 {
    text-align: left;
   /* background-image: url("../img/seta_baixo.svg") !important;
    background-repeat: no-repeat !important;
    background-position: right !important;*/
}

.panel-heading{

}

a:link {
    text-decoration: none;
    color: black;
}

a.nounderline:link{
    text-decoration: none;
    color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}