body {
	background: url(../img/onto.jpg) no-repeat center top fixed;
	 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin:0;
	padding:0;
	text-align:center;
}


#tudo {
	width: 300px;
	margin:0 auto;			
	padding: 50px;
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.botao{
	width: 200px;
	height: 44px;
	border: 20px transparent;
}

ul.nav li {
	list-style:none;
	margin-bottom: 13px;	
}

ul.nav li a {
	text-align:center;
	font-size: x-large;
}